@import 'mixins';

.selectable-paginator {
    @include e('label') {
      color: rgba(0, 0, 0, 0.54);
      padding-left: 8px;
    }
  
    @include e('input') {
      width: 70px;
      font-size: 12px;
    }
  }