<div class="reboot-dialog" fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
  <mat-spinner></mat-spinner>
  <div class="reboot-dialog__text" fxLayout="row">
    <span class="mat-body-2" i18n>
      Rebooting Device
    </span>
    <div class="loading-dots">
      <span class="loading-dots__dot">.</span>
      <span class="loading-dots__dot loading-dots__dot--delay-1">.</span>
      <span class="loading-dots__dot loading-dots__dot--delay-2">.</span>
      <span class="loading-dots__dot loading-dots__dot--delay-3">.</span>                
    </div>
  </div>
</div>