
.mat-column-signalDBm, .mat-column-signalBars {
    flex: 1 1 1%;
}

 .mat-column-addrIPv4 {
    flex: 1 1 5%;
}

.mat-column-status {
    flex: 1 1 1%;
}


.mat-column-iccid,  .mat-column-dns, .mat-column-addrIPv6 {
    flex: 1 1 10%;
}
.mat-column-apnAssigned {
    flex: 1 1 15%;
}
.mat-column-network {
    flex: 1  1 3%;
}

.mat-column-imei {
    flex: 1 1 8%;
}