<h1 matDialogTitle>Response</h1>

<mat-dialog-content>
  <mat-list>
    <mat-list-item *ngFor="let item of keys">
      <div [ngSwitch]="itemType(data[item])">
        <div *ngSwitchCase="'boolean'">
          {{ capitalize(item) }}: {{ data[item] ? 'Yes' : 'No' }}
        </div>
        <div *ngSwitchDefault>
          {{ capitalize(item) }}: {{ data[item] }}
        </div>
      </div>
    </mat-list-item>
  </mat-list>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button matDialogClose>Close</button>
</mat-dialog-actions>
