<section class="content" fxLayout="row" fxLayoutAlign="center">
  <div class="content__inner content__inner--mobile">
    <div class="legend" fxLayout="row nowrap" fxLayoutAlign="end center">
      <div fxLayout="row nowrap" fxLayoutAlign="space-between center" class="mat-subheading-1">
        <div class="legend__indicator legend__indicator--online"></div>
        <span i18n>Online</span>
      </div>
      <div fxLayout="row nowrap" fxLayoutAlign="space-between center" class="mat-subheading-1">
        <div class="legend__indicator legend__indicator--offline"></div>
        <span i18n>Offline</span>
      </div>
    </div>
    <mat-card loopCard loopMaterialCard>
      <mat-card-header>
        <mat-card-title>
            <h2 class="mat-title"  i18n="card title for status page" i18n> {{webUIName}} Status </h2> 
        </mat-card-title>          
      </mat-card-header>
      <mat-card-content>
        <div fxLayout="row wrap" fxLayout.lt-md="column wrap" fxLayoutAlign="start stretch" class="card-grid">
          <ng-container *ngFor="let api of apis; let i = index; let odd = odd;">
            <div fxFlex="0 1 calc(50% - 1px)" class="card-grid__data" [ngClass]="{'card-grid__data--last' : (i === apis.length - 1) || (!odd && i === apis.length - 2)}">
              <loop-status-indicator [apiVersion]="api"></loop-status-indicator>
            </div>
            <div *ngIf="!odd" class="card-grid__vspacer"></div>
          </ng-container>
        </div>
      </mat-card-content>
    </mat-card>
    <div class="info" fxLayout="row nowrap" fxLayoutAlign="start center">
      <span class="mat-caption info__last-check" i18n>Last checked at: {{ lastCheckTime | date:'yyyy-MM-dd hh:mm a' }}</span>
    </div>
  </div>
</section>
