<div fxLayout="column">
  <section fxLayout="row" fxLayoutAlign="space-between baseline">
    <span class="mat-typography caption" i18n>
      Password Strength
    </span>
    <span fxFlex></span>
    <mat-progress-spinner [diameter]="20" [strokeWidth]="2" mode="indeterminate" [ngStyle]="{'visibility': isChecking ? 'inherit' : 'hidden'}"></mat-progress-spinner>
  </section>
  <div fxLayout="row" fxLayoutGap="20px" class="indicator">
    <div
      class="indicator-block"
      fxFlex
      *ngFor="let item of items"
      [class.weak]="strength < medium && item <= strength"
      [class.medium]="strength >= medium && item <= strength"
      [class.strong]="strength >= strong && item <= strength"></div>
  </div>
  <div class="mat-caption" *ngIf="requirementsLength > 0" >
    
    <span i18n>Current password doesn't meet requirements: </span>
    <ul>
      <li *ngIf="requirements.capitalLetter" i18n>Should contain at least <b>{{ requirements.capitalLetter.min }}</b> capital letter. Your password contain <b>{{ requirements.capitalLetter.actual }}</b> capital letters.</li>
      <li *ngIf="requirements.number" i18n>Should contain at least <b>{{ requirements.number.min }}</b> number. Your password contain <b>{{ requirements.number.actual }}</b>  numbers.</li>
      <li *ngIf="requirements.length" i18n>Should be at least <b>{{ requirements.length.min }}</b> characters long.  Your password is <b>{{ requirements.length.actual }}</b> characters long.</li>
    </ul>
  </div>

</div>
