@import 'variables';

.indicator {
  padding: 10px 0;
}

.indicator-block {
  height: 5px;
  background: #fafafa;
  &.weak {
    background: $warn-color;
  }
  &.medium {
    background: $disabled-color;
  }
  &.strong {
    background: $accent-color;
  }
}
