@import 'variables';
@import 'mixins';
@import 'variables';

.caption {
    font-size: 13px;
}

.license-status {
    @include e('trial-message') {
        color: $accent-color;
        margin: 10px;
    }
}

mat-card-header {
    border-bottom: solid 2px $accent-color ;
}

.status-icons{
    // text-align: center;

    @include e('spinner') {
        margin-left: 5px;
    }
}

.license-offline-card {
    mat-list-item{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    h3 {
        padding: 35px 16px;
    }
}

mat-progress-spinner {
    height: 25px;
    width: 71px;
    margin-top: 4%;
}





mat-divider {
    margin: 5px;
}



.spacer {
    margin: 5px;
}

.align-to-button {
  margin-top: 12px;
}

.online-list-item {
    padding: 5px;
}

.spinner {
    width: 50px;
    height: auto;
}