@import 'mixins';

.content-container{
    margin: 20px 5%;
}
@include shadow('mat-progress-spinner') {
    width: 30px;
    height: auto;
}

.device-table {
    min-width: 600px;
}

.activation-card {
    padding-bottom: 16px;
}

.loading-dots {
    margin-left: 5px;
    font-size: 15px;
    @include e('dot'){
        animation: loader 0.9s infinite alternate;

        @include m('delay-1'){

            animation-delay: 0.3s
        }

        @include m('delay-2') {
            animation-delay: 0.6s
            
        }

        @include m('delay-3') {
            animation-delay: 0.9s        
            
        }
    }

}

@keyframes loader {
  0% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.1;
  }
}
