<ng-container *ngIf="form">
  <ng-container [formGroup]="form">
    <mat-form-field fxFlex="1 1 100">
      <input #passwordInput matInput formControlName="password" [placeholder]="placeholder" [type]="passwordInput.checked ? 'text' : 'password'"
        i18n-placeholder checked="false">
      <mat-error *ngIf="form.controls['password'].hasError('required')" i18n>
        Password is <strong>required</strong>
      </mat-error>

      <button mat-icon-button matSuffix aria-label="Clear" (click)="passwordInput.checked = !passwordInput.checked">
        <ng-container *ngIf="passwordInput.checked; else lock">
          <mat-icon class="input__icon">remove_red_eye</mat-icon>
        </ng-container>
        <ng-template #lock>
          <mat-icon class="input__icon">lock</mat-icon>
        </ng-template>
      </button>

    </mat-form-field>
  </ng-container>
</ng-container>
