.upload-container {
  padding: 5px 0;
}

.download-button {
  margin-top: 20px;
  margin-bottom: 20px;
}

.error-list {

  &__title {
    display: inline-block;
    padding: 0.3em 0.9em;
    margin: 0 0.5em 0.5em 0;
    background-color: #f1f8ff;
    border-radius: 3px;    
  }

  &__item {
    min-height: 100px;
  }

  &__description {
    height: inherit;
  }

}


.no-wrap {
  word-wrap: break-word;
  overflow: visible !important;
}