@import 'variables';

.form-sub-header {
    font: 400 16px/28px;
}

.theme-bottom-border {
    border-width: 1px;
    padding-top: 40px;
    margin-bottom: 15px;
}


.padding-bottom {
    padding: 25px;
}

mat-dialog-actions {
    padding-top: 45px;
}