<h2 matDialogTitle class="theme-bottom-border" i18n>Update Modem Config</h2>
<mat-dialog-content class="dialog-content">

  <form [formGroup]="modemConfigForm">
    <div fxLayout="column" fxLayoutGap="10px">
      <mat-form-field fxFlex>
        <input matInput formControlName="imei" type="text" placeholder="IMEI">
        <mat-hint i18n>
          Input Disabled
        </mat-hint>
      </mat-form-field>

      <mat-form-field fxFlex>
        <input matInput formControlName="apn" type="text" placeholder="APN">
      </mat-form-field>


    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
  <button loopButton loopClearButton mat-button loopSubmitOnEnter [disabled]="!modemConfigForm.valid" [matDialogClose]="modemConfigForm.value"
    i18n>Submit</button>
  <button mat-button loopButton color="warn" [matDialogClose]="false" i18n>Cancel</button>
</mat-dialog-actions>
