<h2  *ngIf="isWrite" matDialogTitle class="theme-bottom-border" i18n>Write</h2>
<h2  *ngIf="!isWrite" matDialogTitle class="theme-bottom-border" i18n>Poll Once</h2>

<mat-dialog-content>
  
  <mat-list>
    <mat-list-item >
      <span i18n *ngIf="isWrite">Use cosmyna topic to write to the tag.</span>
      <span i18n *ngIf="!isWrite">Use cosmyna topic to read to the tag.</span>

 
    </mat-list-item>
    <h3 matSubheader i18n>Topic</h3>
    <mat-list-item>

        <span>
          {{writeTopic}}  
        </span>
      
        <loop-copy-button [content]="writeTopic"></loop-copy-button>
    </mat-list-item>
  </mat-list>

</mat-dialog-content>
<mat-dialog-actions fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">

  <button 
    mat-button loopButton 
    color="warn" 
    *ngIf="data?.cancel !=='none'"  
    [matDialogClose]="false" i18n>
      close
  </button>
</mat-dialog-actions>
